.testup{
    overflow: hidden;
   }
   .testup .blog-Title,.testup .blogd ,.testup .blogt{
     transform: translateY(500px);
     transition: all.8s;
     opacity: 0;
   }
   .blog-lists  {
     margin-top: 2em;
   }
   .ads{
     display: flex;
     gap: .5em;
     margin: 2.5em auto;
   }
   .ads img{
    width: 100%;
    object-fit: contain;

   }
   .ads .ad{
     width: 100%;
     object-fit: contain;
    }
.blogd{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 10;
  -webkit-box-orient: vertical;
padding: 0;
}