.journalshow .nav {

    z-index: 10;
}
.journalshow .arrowsF {
    height: 2em;
    position: relative;
    z-index: 10;
}
        .swiper-zoom-container img{
            width: 100%;
            object-fit:  cover;
            height: 100% ;
            min-height: 100%!important;
 min-width: 100%!important;
  max-height:unset  !important;
 max-width:unset  !important;
        }
        .result{
            width: 100%;
    display: flex;
    flex-direction: column;
      justify-content: center;
      align-items: center; 
        }
        .mahnameC{
    width: 100%;
    display: flex;
      justify-content: center;
      align-items: center;
  }
  .mahnameC .mahname{
    width: 100%;
    padding: 0;
    margin: 0;
  }

    .mahnameC .color.data-3{
      background-color:#B2D9EA;
    }
    .mahnameC .color a,.mahnameC .sign {
    color: #141414 !important;
    }
    .mahnameC .color.data-3::before{
      content: '';
      width: 89px;
      top: -50%;
      right: 3%;
      height: 79px;
      background: url("../images/circle.blue.png") no-repeat;
     position: absolute;
      
    }
    .mahnameC .color.data-1::before{
      content: '';
      position: absolute;
      width: 89px;
      top: -50%;
      right: 3%;
      height: 79px;
      color: #000;
  
      background: url("../images/circle.yellow.png") no-repeat;
    }
    .mahnameC .color.data-1{
      background-color: #FFFFD1;
    }
    .mahnameC .color.data-2::before{
        background-color:#F0C5D5;
    }
    .mahnameC .color.data-2::before{
      position: absolute;
      content: '';
      width: 89px;
      top: -50%;
      right: 3%;
      height: 79px;
    background: url("../images/circle.pink.png") no-repeat;
    } 
    .mahnameC .color.data-0::before{
       background-color: #FFFFFF;
    }
    .mahnameC .color.data-0::before{
      position: absolute;
      width: 89px;
      content: '';
      top: -50%;
      right: 3%;
      height: 79px;
      color: #000;
      background: url("../images/circle.blue.png") no-repeat;
    } 
    .mahnameC .color.data-0 .sign,
    .mahnameC .color.data-0 a{
      color: #ffff !important;
    }
    .mahnameC .color a{
      width: 80%;
      display: flex;
      margin-left: auto;
      text-align: right !important;
      margin-right: 1.7em;
    }
    .mahnameC .splide__arrow--next{
        left: 0;
    }
    .mahnameC .splide__arrow--prev{
        right:  0;
    }
    .sign{
            transform: translate(-6px, 10px) !important;
            text-align: right !important;
        }
        #news_slider1-track{
            width: 95%;
            margin: 0 auto;
        }
   .mahnameC .color.data-0 .sign,
  .mahnameC .color.data-0 a{
    color: #000 !important;
  }
  .titleM{
    font-size: 24px;
  font-weight: 400;
  line-height: 37.5px;
  color: #FFFFFF;
  }
  .titleM1{
    font-size: 14px;
  font-weight: 400;
  line-height: 21.9px;
  color: #FFFFFF;
position:relative;
z-index:10;
  }
  .mer{
    left: 7px;
    top: -6px;
}
a:hover{
    text-decoration: none !important;
}

.journal-Flip{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.journal-Flip iframe{
  width: 100%;
  height: 100% !important;
}
.logo-backs2{
display: none !important;
}