.gallery,.gallery .swiper ,.swiper ul  ,.swiper ul li,
.glide__track ul li img {
height: 359px;
object-fit: cover;
width: 100%;
}
.gallery{
    width: 95%;
    margin-left: auto;

}
.gallery,.gallery .swiper ,.swiper ul  ,.swiper ul li,
.glide__track ul li,
.gallery,.gallery .swiper ,.swiper ul  ,.swiper ul,
.glide__track ul{
    display: flex;
}
.text-center{
    text-align: right;
}
.title p{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.bg-shopiing_center_bg{
background-position: center;
background-size: cover;
background-origin: border-box;
background-repeat: no-repeat;
position: relative;
height: 100vh;
}
.bg-shopiing_center_bg::before{
content: '';
position: absolute;
top: 0;
left: 0;
z-index: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.66);
}
.loaader{
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 88888;
overflow: hidden;
}
.main-loader-bg {
background-color: #242a3a;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;

}
.borderr::before{
content: '';
bottom: 0;
position: absolute;
z-index: 1;
left: 0;
transform: translateY(-3vh);
width: 100%;
height: 5px ;
background-color: #EFEFEF;
}
.borderr{
padding-top: 3vh;
position: relative;
border-top: 1px solid #bdbdbda0;
border-bottom: 1px solid #bdbdbda0;
margin-top: 3vh;

}
.gallery .swiper-slide{
overflow: hidden;
}
.gallery .swiper-slide img{
transition: all .9s;
width: 100% ;
}
.gallery .swiper-slide:hover{
cursor: pointer;
}
.gallery .swiper-slide:hover img{
transform: scale(1.05);
} 
.adds{
gap: .5em;
}
.adds img{
width: 100%;
object-fit: contain;
}
.hoverbg{
    transition: all .5s ;
    -webkit-transition: all .5s ;
    -moz-transition: all .5s ;
    -ms-transition: all .5s ;
    -o-transition: all .5s ;
}
.hoverbg:hover{
    color: rgba(214, 187, 44, 1);
}
p:hover{
    cursor: pointer;
}
.bottomHeader > div{
    background-color: transparent;
}
.header2.borderr {
    padding-top: 3vh;
    position: fixed !important;
    border-top: 1px solid #bdbdbda0;
    border-bottom: 1px solid #bdbdbda0;
    margin-top: 3vh;
    left: 0;
    right: 0;
    margin-left: auto;
    transition: all .4s ease;
    margin-right: auto;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.bottomHeader.goDown{
    background-color: black;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 999 !important;
}
.bottomHeader.goTop{
    background-color: black;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 999 !important;
}
.section-1{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.banner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    width: 100%;
    height: 100%;
  object-fit: cover;
}